<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<connectionStrings>
  <add name="dbpath" connectionString="Data Source=.\SQLEXPRESS;Trusted_Connection=True;Initial Catalog=FeeManager;User ID=raheem"/>
  <add name="dbpath1" connectionString="Data Source=DESKTOP-AL6R56G\SQLEXPRESS;Trusted_Connection=True;Initial Catalog=FeeManager;User ID=raheem"/>
  <add name="dbpath2" connectionString="Data Source=DESKTOP-P5E3FNF\SQLEXPRESS;Trusted_Connection=True;Initial Catalog=FeeManager;User ID=raheem"/>
</connectionStrings>
</configuration>
